<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add New Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/styleAdmin.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
</head>

<body id="body-pd">

    <header class="header navbar navbar-expand-md pe-0" id="header">
        <div class="d-flex me-auto header_toggle">
            <i class="bi bi-list mx-4" id="header-toggle"></i>
        </div>
        <form class="d-flex ms-auto" method="post" action="/search">
            <input class="form-control" type="search" placeholder="Search" value="" aria-label="Search" name="search" />
            <button class="btn btn-outline-primary btn-search" type="submit">Search</button>
        </form>
        <div class="btn-group ms-2 user-setting">
            <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" id="dropdownMenuButton1"
                data-bs-display="static" aria-expanded="false">
                <img src="/images/Rectangle 62.png" class="rounded-circle" alt=""
                    style="width: 38px; height: 38px; object-fit: cover" />
                Unis Badri
            </button>
            <ul class="dropdown-menu dropdown-menu-sm-end" aria-labelledby="dropdownMenuButton1">
                <li>
                    <button class="dropdown-item" type="button">Setting</button>
                </li>
                <li>
                    <a href="/user/logout"><button class="dropdown-item" type="button">Logout</button></a>
                </li>
            </ul>
        </div>
        <!-- <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown button
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div> -->
    </header>

    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <table class="h-100">
                <tr>
                    <td style="vertical-align: top; width: 60px; padding: 0px">
                        <img class="nav_logo" src="/images/Rectangle 63.png" />
                        <a href="/" class="nav_link"><img src="/images/Home.png" alt="" /></a>
                        <a href="/" class="nav_link active-menu"><img src="/images/Administrator.png" alt="" /></a>
                        <% if (pengguna.role_id==="3" ) { %>
                            <a href="/admin/addForm" class="nav_link"><img src="/images/admin.png" style="margin: auto;"
                                    width="60%" alt="" /></a>
                            <% }%>
                    </td>
                    <td style="vertical-align: top; background-color: #ffffff; padding: 0px">
                        <img class="nav_logo" src="/images/Rectangle 62.png" />
                        <p class="nav_title" style="margin-top: 17px">CARS</p>
                        <a href="/" class="nav_title text-black bg-color-1">List Car</a>
                    </td>
                </tr>
            </table>
        </nav>
    </div>

    <div class="h-100 mx-4">

        <div class="pt-2 d-flex justify-content-between">
            <h4 class="h4 fw-bold">Add New Admin</h4>
        </div>
        <div id="konten">
            <div class="kembali" style="padding: 25px 25px 0 25px;">
                <a href="/">
                    <p style="font-size: 20px;"><i class="bi bi-arrow-left-square"></i></p>
                </a>
            </div>
            <form action="/admin/add" method="post">
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label" hidden>Role</label>
                        <input type="text" name="role_id" id="input_role_id" class="form-control" value="3" hidden>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Name</label>
                        <input type="text" name="name" id="input_name" class="form-control" placeholder="your name">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="text" name="email" id="input_email" class="form-control" placeholder="your email">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" name="password" id="input_email" class="form-control"
                            placeholder="your password">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn cancel btn-outline-primary">Reset</button>
                    <button type="submit" class="btn save btn-primary mx-3 px-4">Save</button>
                </div>
            </form>


        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</body>

</html>