<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BCR</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css"
        integrity="sha384-ejwKkLla8gPP8t2u0eQyL0Q/4ItcnyveF505U0NIobD/SMsNyXrLti6CWaD0L52l" crossorigin="anonymous" />
</head>

<body>
    <!-- Navbar -->
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark shadow sticky-top">
            <div class="container">
                <a href="/user/home" class="navbar-brand">
                    <div class="logo">
                        <img src="/images/logo-binar.png" class="logo" />
                    </div>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse bg-dark navbar-dark p-2 rounded" id="navbarNavAltMarkup">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item mx-2">
                            <a href="#ourservices" class="nav-link">Our Services </a>
                        </li>
                        <li class="nav-item mx-2">
                            <a href="#whyus" class="nav-link">Why Us</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a href="#testimonials" class="nav-link">Testimonial</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a href="#faq" class="nav-link">FAQ</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a href="#" class="nav-link __register px-4 text-dark text-center" aria-current="page"
                                data-bs-toggle="modal" data-bs-target="#registrationModal" href="#">Register</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- modal login register -->
    <div class="modal fade" id="registrationModal" tabindex="-1" aria-labelledby="registrationModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="registrationModalLabel">Registration</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/user/register" method="post">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label class="form-label" hidden>Role</label>
                            <input type="text" name="role_id" id="input_role_id" class="form-control" value="1" hidden>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Name</label>
                            <input type="text" name="name" id="input_name" class="form-control" placeholder="your name">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input type="text" name="email" id="input_email" class="form-control"
                                placeholder="your email">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Password</label>
                            <input type="password" name="password" id="input_email" class="form-control"
                                placeholder="your password">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <p>Sudah punya akun ? <a href="#" data-bs-dismiss="modal" data-bs-toggle="modal"
                                data-bs-target="#loginModal">login</a></p>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-success">Make Account</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Login</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/user/login" method="post">
                    <div class="modal-body">
                        <div class="mb-3 row">
                            <label class="col-sm-2 col-form-label">Email</label>
                            <div class="col-sm-10">
                                <input type="text" name="email" id="input_email" class="form-control"
                                    placeholder="your email">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-2 col-form-label">Password</label>
                            <div class="col-sm-10">
                                <input type="password" name="password" id="input_email" class="form-control"
                                    placeholder="your password">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal" data-bs-toggle="modal"
                            data-bs-target="#registrationModal">Make a New Account</button>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- end modal -->
    <!-- Hero Section -->
    <section id="home">
        <div class="container d-flex">
            <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 g-md-1 g-lg-2">
                <div class="col my-5">
                    <h2 class="my-5 fw-bold">
                        Sewa & Rental Mobil Terbaik di kawasan (Lokasimu)
                    </h2>
                    <p>
                        Selamat datang di Binar Car Rental. Kami menyediakan mobil
                        kualitas terbaik dengan harga terjangkau. Selalu siap melayani
                        kebutuhanmu untuk sewa mobil selama 24 jam.
                    </p>
                    <a href="/user/findCar" class="shadow-lg"><span data-attr="Sewa">Sewa</span><span
                            data-attr="Sekarang">Sekarang</span></a>
                </div>
                <div class="col my-5">
                    <img class="img-fluid __car" src="/images/merci.svg" alt="Car" />
                </div>
            </div>
        </div>
        <div class="__stand bg-primary"></div>
    </section>
    <!-- End Hero section -->

    <!-- Our Services -->
    <section id="ourservices">
        <div class="container d-flex my-5">
            <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 g-md-1 g-lg-2">
                <div class="col my-5">
                    <img class="img-fluid" src="/images/girl.svg" alt="Car" />
                </div>
                <div class="col my-5">
                    <h2 class="__osHeader my-5">
                        Best Car Rental for any kind of trip in (Lokasimu)!
                    </h2>
                    <p class="__osParagraph">
                        Sewa mobil di (Lokasimu) bersama Binar Car Rental jaminan harga
                        lebih murah dibandingkan yang lain, kondisi mobil baru, serta
                        kualitas pelayanan terbaik untuk perjalanan wisata, bisnis,
                        wedding, meeting, dll.
                    </p>

                    <ul class="list-group">
                        <li class="list-group-item __osSuperiority">
                            <span class="__osIcon bg-primary bg-opacity-25"><img src="/icon/check.svg" /></span>
                            Sewa Mobil Dengan Supir di Bali 12 Jam
                        </li>
                        <li class="list-group-item __osSuperiority">
                            <span class="__osIcon bg-primary bg-opacity-25"><img src="/icon/check.svg" /></span>
                            Sewa Mobil Lepas Kunci di Bali 24 Jam
                        </li>
                        <li class="list-group-item __osSuperiority">
                            <span class="__osIcon bg-primary bg-opacity-25"><img src="/icon/check.svg" /></span>
                            Sewa Mobil Jangka Panjang Bulanan
                        </li>
                        <li class="list-group-item __osSuperiority">
                            <span class="__osIcon bg-primary bg-opacity-25"><img src="/icon/check.svg" /></span>
                            Gratis Antar - Jemput Mobil di Bandara
                        </li>
                        <li class="list-group-item __osSuperiority">
                            <span class="__osIcon bg-primary bg-opacity-25"><img src="/icon/check.svg" /></span>
                            Layanan Airport Transfer / Drop In Out
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- End Our Services -->

    <!-- Why Us? -->
    <section id="whyus">
        <div class="container">
            <h2>Why Us?</h2>
            <p>Mengapa harus pilih Binar Car Rental?</p>
            <div class="row">
                <!-- item 1 -->
                <div class="col-md-6 col-xl-3">
                    <div class="card bg-c-blue order-card">
                        <div class="card-block">
                            <span class="__wuIcon bg-warning"><i class="fa fa-thumbs-o-up"
                                    aria-hidden="true"></i></span>
                            <h6 class="fw-bold mt-3">Mobil Lengkap</h6>
                            <p class="m-b-0 text-start">
                                Tersedia banyak pilihan mobil, kondisi masih baru, bersih dan
                                terawat
                            </p>
                        </div>
                    </div>
                </div>
                <!-- item2 -->
                <div class="col-md-6 col-xl-3">
                    <div class="card bg-c-green order-card">
                        <div class="card-block">
                            <span class="__wuIcon bg-danger"><i class="fa fa-tag" aria-hidden="true"></i></span>
                            <h6 class="fw-bold mt-3">Mobil Lengkap</h6>
                            <p class="m-b-0 text-start">
                                Harga murah dan bersaing, bisa bandingkan harga kami dengan
                                rental mobil lain
                            </p>
                        </div>
                    </div>
                </div>
                <!-- item3 -->
                <div class="col-md-6 col-xl-3">
                    <div class="card bg-c-yellow order-card">
                        <div class="card-block">
                            <span class="__wuIcon bg-primary"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                            <h6 class="fw-bold mt-3">Layanan 24 Jam</h6>
                            <p class="m-b-0 text-start">
                                Siap melayani kebutuhan Anda selama 24 jam nonstop. Kami juga
                                tersedia di akhir minggu
                            </p>
                        </div>
                    </div>
                </div>
                <!-- item4 -->
                <div class="col-md-6 col-xl-3">
                    <div class="card bg-c-pink order-card">
                        <div class="card-block">
                            <span class="__wuIcon bg-c-green"><i class="fa fa-trophy" aria-hidden="true"></i></span>
                            <h6 class="fw-bold mt-3">Sopir Profesional</h6>
                            <p class="m-b-0 text-start">
                                Sopir yang profesional, berpengalaman, jujur, ramah dan selalu
                                tepat waktu
                            </p>
                        </div>
                    </div>
                </div>
                <!-- end item -->
            </div>
        </div>
    </section>
    <!-- End Why US -->

    <!-- Testimonials -->
    <section id="testimonials">
        <div class="container py-5 justify-content-center align-items-center">
            <h2>Testimonials</h2>
            <p>Berbagai review positif dari para pelanggan kami</p>
            <div class="container justify-content-center">
                <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-indicators visually-hidden">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active bg-primary" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2" class="bg-primary"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3" class="bg-primary"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                            aria-label="Slide 4" class="bg-primary"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
                            aria-label="Slide 5" class="bg-primary"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
                            aria-label="Slide 6" class="bg-primary"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6"
                            aria-label="Slide 7" class="bg-primary"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7"
                            aria-label="Slide 8" class="bg-primary"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8"
                            aria-label="Slide 9" class="bg-primary"></button>
                    </div>
                    <div class="carousel-inner">
                        <!-- tester1 -->
                        <div class="carousel-item active">
                            <div class="card __tmCard">
                                <div class="d-flex d-xs-block d-sm-block d-md-flex p-5">
                                    <div class="card-img mx-3">
                                        <img src="/images/tester1.jpg" alt="1" class="card-img rounded-circle" />
                                    </div>
                                    <div class="card-text p-2">
                                        <div class="__fiveStars">
                                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                        </div>
                                        <p class="text-start">
                                            “Lorem ipsum dolor sit amet, consectetur adipiscing
                                            elit, sed do eiusmod lorem ipsum dolor sit amet,
                                            consectetur adipiscing elit, sed do eiusmod lorem ipsum
                                            dolor sit amet, consectetur adipiscing elit, sed do
                                            eiusmod”
                                        </p>
                                        <h6 class="text-start fw-bold card-title">
                                            Susy H, Jakarta
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end tester1 -->
                        <!-- tester2 -->
                        <div class="carousel-item">
                            <div class="card shadow __tmCard">
                                <div class="d-flex d-xs-block d-sm-block d-md-flex p-5">
                                    <div class="card-img mx-3">
                                        <img src="/images/tester2.jpg" alt="1" class="card-img rounded-circle" />
                                    </div>
                                    <div class="card-text p-2">
                                        <div class="__fiveStars">
                                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                        </div>
                                        <p class="text-start">
                                            “Lorem ipsum dolor sit amet consectetur adipisicing
                                            elit. Expedita ipsam iste incidunt ipsa aliquam? Non
                                            quam officia ut reiciendis nisi atque autem, illum
                                            suscipit. Cupiditate, in a. Quos, at unde.”
                                        </p>
                                        <h6 class="text-start fw-bold card-title">
                                            Fatimah A, Bandung
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end tester2 -->
                        <!-- tester3 -->
                        <div class="carousel-item">
                            <div class="card shadow __tmCard">
                                <div class="d-flex d-xs-block d-sm-block d-md-flex p-5">
                                    <div class="card-img mx-3">
                                        <img src="/images/tester3.jpg" alt="1" class="card-img rounded-circle" />
                                    </div>
                                    <div class="card-text p-2">
                                        <div class="__fiveStars">
                                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                        </div>
                                        <p class="text-start">
                                            “Lorem, ipsum dolor sit amet consectetur adipisicing
                                            elit. Iste suscipit adipisci nisi ipsam sint eum facere
                                            laborum rerum cum cumque fugiat dignissimos animi
                                            recusandae exercitationem, iusto soluta? Repellat, animi
                                            et?”
                                        </p>
                                        <h6 class="text-start fw-bold card-title">
                                            Aisyah H, Semarang
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end tester3 -->
                        <!-- tester4 -->
                        <div class="carousel-item">
                            <div class="card shadow __tmCard">
                                <div class="d-flex d-xs-block d-sm-block d-md-flex p-5">
                                    <div class="card-img mx-3">
                                        <img src="/images/tester4.jpg" alt="1" class="card-img rounded-circle" />
                                    </div>
                                    <div class="card-text p-2">
                                        <div class="__fiveStars">
                                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                        </div>
                                        <p class="text-start">
                                            “Lorem ipsum dolor sit amet consectetur adipisicing
                                            elit. Ea deleniti ullam molestias accusantium tempora
                                            repellat, maxime fugiat asperiores quis minus aperiam
                                            beatae culpa atque facere suscipit, iusto nobis adipisci
                                            nam.”
                                        </p>
                                        <h6 class="text-start fw-bold card-title">
                                            Maulia A, Surabaya
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end tester4 -->
                        <!-- tester5 -->
                        <div class="carousel-item">
                            <div class="card shadow __tmCard">
                                <div class="d-flex d-xs-block d-sm-block d-md-flex p-5">
                                    <div class="card-img mx-3">
                                        <img src="/images/tester5.jpg" alt="1" class="card-img rounded-circle" />
                                    </div>
                                    <div class="card-text p-2">
                                        <div class="__fiveStars">
                                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                        </div>
                                        <p class="text-start">
                                            “Lorem ipsum dolor sit amet, consectetur adipisicing
                                            elit. Tempora voluptates nobis id delectus cum veritatis
                                            alias officia. Aut unde necessitatibus, soluta, qui,
                                            perspiciatis mollitia deleniti cum dignissimos hic odit
                                            fuga.”
                                        </p>
                                        <h6 class="text-start fw-bold card-title">
                                            Ella P, Jambi
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end tester5 -->
                        <!-- tester6 -->
                        <div class="carousel-item">
                            <div class="card shadow __tmCard">
                                <div class="d-flex d-xs-block d-sm-block d-md-flex p-5">
                                    <div class="card-img mx-3">
                                        <img src="/images/tester6.jpg" alt="1" class="card-img rounded-circle" />
                                    </div>
                                    <div class="card-text p-2">
                                        <div class="__fiveStars">
                                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                        </div>
                                        <p class="text-start">
                                            “Lorem, ipsum dolor sit amet consectetur adipisicing
                                            elit. Debitis, eius explicabo. Tenetur quod est, iusto
                                            nulla libero dolore minus eius consequuntur aliquam nam
                                            non ratione assumenda fuga enim? Eligendi, debitis!”
                                        </p>
                                        <h6 class="text-start fw-bold card-title">
                                            Syifa N H, Yogyakarta
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end tester6 -->
                        <!-- tester7 -->
                        <div class="carousel-item">
                            <div class="card shadow __tmCard">
                                <div class="d-flex d-xs-block d-sm-block d-md-flex p-5">
                                    <div class="card-img mx-3">
                                        <img src="/images/tester7.jpg" alt="1" class="card-img rounded-circle" />
                                    </div>
                                    <div class="card-text p-2">
                                        <div class="__fiveStars">
                                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                        </div>
                                        <p class="text-start">
                                            “Lorem ipsum dolor sit amet consectetur adipisicing
                                            elit. Tenetur, tempora repellendus! Suscipit unde
                                            voluptate doloremque perspiciatis officiis sed expedita
                                            libero ea perferendis aliquam reiciendis, quam, nemo
                                            explicabo assumenda harum fugiat.”
                                        </p>
                                        <h6 class="text-start fw-bold card-title">
                                            Khofifah N, Surakarta
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end tester7 -->
                        <!-- tester8 -->
                        <div class="carousel-item">
                            <div class="card shadow __tmCard">
                                <div class="d-flex d-xs-block d-sm-block d-md-flex p-5">
                                    <div class="card-img mx-3">
                                        <img src="/images/tester8.jpg" alt="1" class="card-img rounded-circle" />
                                    </div>
                                    <div class="card-text p-2">
                                        <div class="__fiveStars">
                                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                        </div>
                                        <p class="text-start">
                                            “Lorem ipsum dolor sit amet consectetur adipisicing
                                            elit. Et soluta aperiam atque perferendis ducimus
                                            deserunt quas fugiat facere. Et fugit consectetur,
                                            incidunt nam hic quaerat velit commodi! Dignissimos,
                                            modi fuga.”
                                        </p>
                                        <h6 class="text-start fw-bold card-title">
                                            Nissa A F, Pekanbaru
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end tester8 -->
                        <!-- tester9 -->
                        <div class="carousel-item">
                            <div class="card shadow __tmCard">
                                <div class="d-flex d-xs-block d-sm-block d-md-flex p-5">
                                    <div class="card-img mx-3">
                                        <img src="/images/tester9.jpg" alt="1" class="card-img rounded-circle" />
                                    </div>
                                    <div class="card-text p-2">
                                        <div class="__fiveStars">
                                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                        </div>
                                        <p class="text-start">
                                            “Lorem ipsum dolor sit, amet consectetur adipisicing
                                            elit. Quasi voluptas obcaecati praesentium quod, officia
                                            ex sapiente non velit, reprehenderit, eos magni
                                            adipisci! Autem, fuga dolores!”
                                        </p>
                                        <h6 class="text-start fw-bold card-title">
                                            Miftahul J, Bali
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end tester9 -->
                    </div>
                </div>
            </div>
            <!-- Button Next Prev -->
            <div class="d-flex justify-content-center align-items-center py-3">
                <button class="carousel-control-prev bg-danger rounded-circle __preNext" type="button"
                    data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next bg-success rounded-circle __preNext" type="button"
                    data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <!-- end bun Prev Next -->
        </div>
    </section>
    <!-- End Testimonials -->

    <!-- Bonus Page -->
    <section id="bonuspage">
        <div class="container py-5">
            <div class="card shadow bg-primary">
                <div class="d-block text-center p-5">
                    <h1 class="fw-bold text-white">
                        Sewa Mobil di (Lokasimu) Sekarang
                    </h1>
                    <p class="text-white py-5">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
                        fugit ut possimus nobis corrupti laborum totam accusamus, placeat
                        accusantium fugiat voluptatibus perspiciatis? Eveniet
                        necessitatibus cupiditate recusandae dolorum maxime minus sunt.
                    </p>
                    <a href="#" class="shadow-lg"><span data-attr="Sewa">Sewa</span><span
                            data-attr="Sekarang">Sekarang</span></a>
                </div>
            </div>
        </div>
    </section>
    <!-- End Bonus Page -->

    <!-- FAQ -->
    <section id="faq">
        <div class="container my-5">
            <div class="row row row-cols-1 row-cols-md-1 row-cols-lg-2 g-md-1 g-lg-2">
                <div class="col py-5">
                    <h2>Frequently Asked Question</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et aut
                        labore ab!
                    </p>
                </div>
                <div class="col my-5">
                    <div class="accordion" id="accordionExample">
                        <!-- item1 -->
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    Apa saja syarat yang dibutuhkan?
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Minus illum unde esse neque nam reprehenderit tenetur a.
                                    Voluptas, et saepe ea quae provident quis maxime animi illo
                                    non iure a!
                                </div>
                            </div>
                        </div>
                        <!-- end item1 -->

                        <!-- item2 -->
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Berapa hari minimal sewa mobil lepas kunci?
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Nisi aliquid dolore, in ex natus officiis iusto eius quia,
                                    tenetur tempore ipsam. Dignissimos quo incidunt fuga
                                    accusamus, quasi veritatis facere architecto.
                                </div>
                            </div>
                        </div>
                        <!-- end item2 -->

                        <!-- item3 -->
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Berapa hari sebelumnya sabaiknya booking sewa mobil?
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                    Deleniti sint voluptas illo quaerat et esse voluptatum
                                    porro, nobis a quas dolorem minus aut corporis est dolor
                                    veniam! Placeat, commodi sint.
                                </div>
                            </div>
                        </div>
                        <!-- end item3 -->

                        <!-- item4 -->
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Apakah Ada biaya antar-jemput?
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                    Deleniti sint voluptas illo quaerat et esse voluptatum
                                    porro, nobis a quas dolorem minus aut corporis est dolor
                                    veniam! Placeat, commodi sint.
                                </div>
                            </div>
                        </div>
                        <!-- end item4 -->

                        <!-- item5 -->
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFive">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    Bagaimana jika terjadi kecelakaan
                                </button>
                            </h2>
                            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Corporis possimus aspernatur magnam inventore error,
                                    repellat ea deleniti, voluptates porro ipsam maiores
                                    dolorum. Tempore fugiat incidunt enim quod ducimus commodi
                                    debitis.
                                </div>
                            </div>
                        </div>
                        <!-- end item5 -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <!-- Remove the container if you want to extend the Footer to full width. -->
    <footer class="bg-dark text-center text-lg-start text-white">
        <div class="container py-3">
            <!-- Grid container -->
            <div class="container p-4">
                <!--Grid row-->
                <div class="row mt-4">
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <ul class="list-unstyled mb-0">
                            <li>
                                <p>Jalan Suroyo No. 161 Mayangan Kota Probolonggo 672000</p>
                            </li>
                            <li>
                                <p>binarcarrental@gmail.com</p>
                            </li>
                            <li>
                                <p>081-233-334-808</p>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <ul class="list-unstyled">
                            <li>
                                <a href="#!" class="text-white">Our Services</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Why Us</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Testimonial</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">FAQ</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <p>Connect With Us</p>
                        <ul class="list-unstyled">
                            <li class="py-1">
                                <!-- Facebook -->
                                <a class="btn btn-primary btn-floating rounded-circle" style="background-color: #3b5998"
                                    href="#!" role="button"><i class="fa fa-facebook-f" aria-hidden="true"></i></a>

                                <!-- Instagram -->
                                <a class="btn btn-primary btn-floating rounded-circle" style="background-color: #cb2644"
                                    href="#!" role="button"><i class="fa fa-instagram" aria-hidden="true"></i></a>

                                <!-- Twitter -->
                                <a class="btn btn-primary btn-floating rounded-circle" style="background-color: #55acee"
                                    href="#!" role="button"><i class="fa fa-twitter" aria-hidden="true"></i></a>

                                <!-- E-mail -->
                                <a class="btn btn-primary btn-floating rounded-circle" style="background-color: #ea4335"
                                    href="#!" role="button"><i class="fa fa-envelope" aria-hidden="true"></i></a>

                                <!-- Twich -->
                                <a class="btn btn-primary btn-floating rounded-circle" style="background-color: #8c44f7"
                                    href="#!" role="button"><i class="fa fa-twitch" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <p>Copyright Binar 2022</p>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </div>
            <!-- Grid container -->
        </div>
    </footer>
    <!-- End of .container -->
    <!-- end Footer -->
    <!-- sisipan JS -->
    <script src="/js/bootstrap.bundle.min.js "></script>
    <script src="/js/script.js"></script>
</body>

</html>